dist
target
*.iml
*.ipr
*.iws
*.tar.gz
*.swp
*.swo
.classpath
.idea
.project
.settings/
.metadata/
*.log
*.DS_Store
_site
*.pyc
druid-0.9.0-SNAPSHOT/*
*.python-version
docker/generated/*
.pydevproject
jupyter
build-all.sh
build-conf-and-scripts.sh
deploy.sh
provision.sh
stop.sh
